.about {
  margin-bottom: 72px;
}

.about__container {
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__image {
  width: 450px;
  height: 426px;
}

.about__content {
  width: 632px;
  padding: 0 24px 24px 8px;
  margin-left: 117px;
  border-bottom: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.about__info {
  margin: 0 auto 20px;
}

.about__info:last-child {
  margin-bottom: 0;
}

@media(max-width: 1339px) {
  .about {
    padding: 16px;
    overflow: hidden;
  }

  .about__container {
    width: 100%;
    flex-direction: column;
    justify-content: unset;
  }

  .about__content {
    margin: 0;
    padding: 0px;
    width: 100%;
    border: none;
    display: block;
  }

  .about__image {
    display: block;
    width: 100%;
    height: auto;
    font-size: 16px;
    margin-bottom: 14px;
  }

  .about__info {
    width: 100%;
  }
}
