.advantage {
  position: relative;
  margin-bottom: 72px;
}

.advantage__container {
  width: 1320px;
  margin: 0 auto;
}

.advantage__title {
  font-family: "Cormorant", Georgia, serif;
  font-size: 56px;
  text-align: center;
  margin: 0 auto 62px;
}

.advantage__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantage__item {
  margin: 0 40px 0 0;
  width: 300px;
  height: 438px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.advantage__link {
  position: relative;
  background-color: #674C33;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  --image-url: url('../img/adv_1.jpg');
}

.advantage__link::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: var(--image-url);
  filter: blur(2px);
  z-index: 1;
}

.advantage__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.advantage__link:hover::before {
  filter: blur(0);
}

.advantage__link:hover::after {
  background: rgba(0, 0, 0, 0);
}

.advantage__item-content {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 100%;
  width: 100%;
  min-height: 75px;
  filter: blur(0px);
  font-size: 23px;
  text-align: center;
  margin: 0 auto;
  padding: 8px;
  align-items: center;
  color: white;
  background-color: #866343;
  z-index: 2;
}

.advantage__link--help {
  --image-url: url("../img/adv_1.jpg");
}

.advantage__link--bankrupt_ind {
  --image-url: url("../img/adv_2.jpg");
}

.advantage__link--protect {
  --image-url: url("../img/adv_3.jpg");
}

.advantage__link--bankrupt_biz {
  --image-url: url("../img/adv_4.jpg");
}
