.form {
  margin-bottom: 72px;
}

.form__container {
  background-color: var(--background-form-color);
  width: 1320px;
  margin: 0 auto 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__title {
  font-size: 28px;
  margin: 42px auto 47px;
}

.form__content {
  margin: 0 auto 48px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form__label {
  display: block;
  width: 92px;
  font-size: 16px;
  margin: 0;
}

.form__name {
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  width: 583px;
  border-bottom: 1px solid transparent;
  border-color: var(--border-form-line);
}

.form__phone {
  margin: 0 auto 48px;
  display: flex;
  flex-direction: row;
  width: 583px;
  border-bottom: 1px solid transparent;
  border-color: var(--border-form-line);
}

.form__input {
  margin: 0 auto 3px;
  width: 645px;
  font-size: 16px;
  color: white;
  background-color: var(--background-form-color);
  border: none;
  outline: none;
}

.form__input::placeholder {
}

.form__accept {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  max-width: 645px;
}

.form__checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 28px;
  height: 28px;
  border: 1px solid transparent;
  background-color: var(--main-color);
  margin-right: 12px;
  transition: background-color 0.3s, border-color 0.3s;
}

.form__checkbox:checked {
  background-color: var(--main-color);
  background-image: url("../img/check2@2x.svg");
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.form__policy {
  text-decoration: none;
  font-family: "Cormorant SC", Georgia, serif;
  font-weight: var(--font-weight);
  font-size: 14px;
  line-height: var(--line-height);
  color: var(--main-color);
  margin: 0;
  ;
}

.form__button {
  display: block;
  width: 560px;
  height: 52px;
  font-size: 16px;
  background: var(--button-color-primary);
  border: 0px solid transparent;
  margin: 0 auto 42px;
  color: var(--button-font-color-primary);
}

.form__button:hover {
  background: var(--button-color-primary-hover2);
}
