.visitcardcontacts {
  position: relative;
  padding-top: 124px;
  padding-bottom: 30px;
  margin-bottom: 72px;
}

.visitcardcontacts__container {
  position: relative;
  z-index: 2;
  width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visitcardcontacts__title {
  font-family: "Cormorant", Georgia, serif;
  font-size: 56px;
  margin-bottom: 12px;
}

.visitcardcontacts__position {
  font-size: 24px;
  margin-bottom: 297px;
}
